body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    font-family: "Arial", Sans-serif;
    font-size: 22px;
}

a {
    color: white;
}

::-webkit-scrollbar {
    background-color: black; 
}

.intro_text {
    position: absolute;
    top: 200px;
    left: 200px;
}

.intro_image {
    position: absolute;
    top: 0px;
    left: 900px;
}

.game_text {
    position: absolute;
    top: 700px;
    left: 200px;
}

.game_image {
    position: absolute;
    top: 800px;
    left: 900px;
}

.web_text {
    position: absolute;
    top: 1700px;
    left: 200px;
}

.web_image {
    position: absolute;
    top: 1500px;
    left: 900px;
}

.system_text {
    position: absolute;
    top: 2400px;
    left: 200px;
}

.system_image {
    position: absolute;
    top: 2100px;
    left: 900px;
}

.look_text {
    position: absolute;
    top: 3000px;
    left: 200px;
}

.look_image {
    position: absolute;
    top: 2900px;
    left: 900px;
}

.contact_text {
    position: absolute;
    top: 3800px;
    left: 200px;
}

.contact_image {
    position: absolute;
    top: 3600px;
    left: 900px;
}

.confirm {
    position: absolute;
    top: 4100px;
    left: 200px;
}

.black_text {
    color: black;
    position: absolute;
    top: 4200px;
    left: 200px;
}