body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    font-family: "Arial", Sans-serif;
    font-size: 22px;
}
/*button style*/
.menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #45a049;
}

/*nav menu*/
.navigation-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: left 0.5s ease;
    z-index: 3;
    overflow-y: auto;

    background-color:darkgreen;
}

    .navigation-menu.active {
        left: 0;
    }
/*carousel*/
@keyframes moveBg {
    from {
        background-position: 0 50%;
    }

    to {
        background-position: -1134px 50%;
    }
}

.carousel {
    --blur: 6px;
    --contrast: 105%;
    --speed: 13s;
    height: 250px;
    width: 100%;
    position: relative;
}

    .carousel .mask {
        position: absolute;
        inset: 0;
        background: #0000;
        backdrop-filter: blur(var(--blur)) contrast(var(--contrast));
        -webkit-backdrop-filter: blur(var(--blur)) contrast(var(--contrast)); 
        -webkit-mask: linear-gradient(90deg, #000 50px, #0000 175px calc(100% - 175px), #fff calc(100% - 50px));
        pointer-events: none;
    }

    .carousel .logos {
        animation: moveBg var(--speed) linear infinite;
        position: absolute;
        inset: 0;
        background: url(../images/brands.png) 0 50% / 567px 75px repeat-x;
        -webkit-mask: linear-gradient(90deg, #0000 5px, #000 50px calc(100% - 50px), #0000 calc(100% - 5px));
    }



/*anims for text */
@keyframes slideRight {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-right-on-scroll {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 2s, transform 2s;
}

    .slide-right-on-scroll.active {
        opacity: 1;
        transform: translateX(0);
    }

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translate(-50%, -70%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}


/*i dont remeber where i use that one*/
@keyframes animateText {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-20px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/*center text style*/
.text-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
    height: auto;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    z-index: 2;
    animation: slideIn 2s ease forwards;
    
}


/*some fonts*/
.riot {
    font-family: 'Protest Riot', sans-serif;
    font-weight: 400;
    font-style: normal;
}


.hand {
    font-family: 'Freehand', cursive;
    font-weight: 400;
    font-style: normal;
}


/*styles for inputs*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="message"],
textarea {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
}


/*grid*/
.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 20px;
    text-align: center;
    align-items: center;
    grid-auto-flow: row;


}

.grid {
    display: grid;
    grid-template-columns: 30% 60%;


    grid-auto-flow: row;

    width: auto;
    height: auto;

    position: absolute;

}

.cardGrid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-flow: row;
    width: auto;
    height: auto;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 5%;
    grid-gap: 20px;
}


/*gallery grid*/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 16px;
    padding: 16px;
}

.grid-item {
   position: relative;
   overflow: hidden;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.grid-item:hover {
    transform: scale(1.05);
}

.flex-container {
   display: flex;
   justify-content: center;
}

/*ul ol*/
ul, ol {
    
   list-style-position: inside;
}

/*mobile*/
@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 100%; 
    }
    .cardGrid {
        grid-template-columns: 100%;
    }
    body {
        font-size: 10px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }


}


/*dropdown styles*/
/*i should rewrite it*/
.dropbtn {
    position:absolute;
    left:95%;
    top:5%;

    background-color: #34495e;

    color: white;

    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #34495e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {

    color: white;

    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1d2833;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1d2833;
}

textarea {
    width: 300px;
    height: 150px;
}

a {
    color: white;
}

::-webkit-scrollbar {
    background-color: black;
}

.dropdown {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
}


/*snow anim*/
.snowflake {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('images/snowflake.png');
    background-size: cover;
    pointer-events: none;
}

.solutions-text li {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;


}



/*second block anim*/
.wipe {
    transition: color 0.3s;
    position: relative;
}

    .wipe::after {
        color:black;

        width: 0%;
        height: 100%;
        display: block;
        background-color: black;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        transition: width 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        z-index: -1;
    }

    .wipe:hover::after {
        width: 100%;

      
    }

