body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    font-family: "Arial", Sans-serif;
    font-size: 22px;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="message"],
textarea {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    margin: 5px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 20px;
    text-align: center;
    align-items: center;
    grid-auto-flow: row;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 16px;
    padding: 16px;
}

.grid-item {
   position: relative;
   overflow: hidden;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.grid-item:hover {
    transform: scale(1.05);
}

.flex-container {
   display: flex;
   justify-content: center;
}

ul, ol {
    
   list-style-position: inside;
}




@media only screen and (max-width: 600px) {
    body {
        font-size: 10px;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
   font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #2c3e50;

    color: white;

    background-color: #34495e;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #1d2833;
 }

.dropbtn {
    position:absolute;
    left:95%;
    top:5%;

    background-color: #34495e;

    color: white;

    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #34495e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {

    color: white;

    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1d2833;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #1d2833;
}

textarea {
    width: 300px;
    height: 150px;
}

a {
    color: white;
}

::-webkit-scrollbar {
    background-color: black;
}

.snowflake {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('images/snowflake.png');
    background-size: cover;
    pointer-events: none;
}

.backgroundVideo {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

#text-overlay {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    width:auto;
    height:auto;

    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; 

    z-index: 1;
}

.dropdown {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 1;
}



.solutions-text li {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;


}

.solutions-text h2 {
    text-align: center;
}










.animations {
    position: absolute;
    top: 10%;
    left: 10%;

    width: auto;
    height: auto;
}



.text {
    animation: animateText 3s infinite;
}



@keyframes animateText {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-20px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}